h1{ 
    color: brown;
    text-align: center;
}

img{
    display:block;
    margin: auto;
}

.parag{
    text-align: center;

}

#secparag{
    font-size: 14px;

}
h2{
    color: brown;
    text-align: center;
}